<!DOCTYPE html>
<html>
  <head>
    <title>People N' Pets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>People N' Pets</h1>
        <%= link_to "People", people_path %>
        <%= link_to "Pets", dogs_path %>
        <%= link_to "About", about_path %>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
